{
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "none",
  "jsxSingleQuote": true,
  "semi": false,
  "singleAttributePerLine": true,
  "bracketSpacing": true,
  "printWidth": 100,
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"]
}
