<section
  id='about-section'
  class='py-16 sm:py-20'
>
  <div class='mb-8'>
    <h2 class='mb-2 text-4xl font-bold text-white md:text-5xl'>About</h2>
    <p class='text-base text-gray-400 md:text-lg'>Lets know me more</p>
  </div>

  <p
    data-aos='fade-up'
    class='prose prose-base text-gray-200'
  >
    Hi There, My name is Farid Nugraha and i'm passionate in Frontend Programming. My interest in
    frontend started when i was in college. I enjoy writing code using HTML and CSS for assignment
    in college.
    <br /><br />
    Now i'm a Frontend Developer. My day-to-day job is working with Javascript or Typescript. I use Vue
    JS as main framework and React JS as second framework. I'm passionate working as frontend developer,
    collaborating with many people, and solve any problems independently or with a team.
  </p>
</section>
