<section
  id='project-section'
  class='py-16 sm:py-20'
>
  <div class='mb-8'>
    <h2 class='mb-2 text-4xl font-bold text-white md:text-5xl'>Project</h2>
    <p class='prose text-gray-400 md:prose-lg'>I have some work experience in companies</p>
  </div>
</section>
