---
import Layout from 'layouts/Layout.astro'
import HomeSection from 'components/sections/HomeSection'
---

<Layout title='Welcome to Astro.'>
  <HomeSection client:visible />

  <div class='container'>
    <div class='h-[500px] text-white'>halo</div>
  </div>
</Layout>
