---
import Layout from 'layouts/Layout.astro'
import HomeSection from 'components/sections/HomeSection'
import AboutSection from 'components/sections/AboutSection.astro'
import SkillSection from 'components/sections/SkillSection.astro'
import ExperienceSection from 'components/sections/ExperienceSection.astro'
import ProjectSection from 'components/sections/ProjectSection.astro'
---

<Layout title='Farid Nugraha'>
  <div class='container'>
    <HomeSection client:visible />
    <AboutSection />
    <SkillSection />
    <ExperienceSection />
    <ProjectSection />
  </div>
</Layout>

<script>
  import AOS from 'aos'

  AOS.init({
    once: true,
    delay: 300,
    duration: 400
  })
</script>
